# Database
DATABASE_URL="mysql://root:password@localhost:3306/apple_holidays"

# NextAuth
NEXTAUTH_SECRET="your-secret-key-min-32-chars-long-here"
NEXTAUTH_URL="http://localhost:3000"

# OpenAI
OPENAI_API_KEY="sk-your-openai-api-key-here"

# App
APP_URL="http://localhost:3000"
NODE_ENV="development"

# Critical Operations Password
CRITICAL_SERVICES_PASSWORD="change-me"
